
    <div class="loading_content">
        <img src="/images/loading.gif"/>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Alert!</h4>
                </div>
                <div class="modal-body">
                    <p><%= (typeof message != 'undefined') ? message : '' %></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- =========================
         FOOTER
    ============================== -->
    <footer class=""> 
        <div class="container blue-bg white-text">
            <div class="row"> 
                <div class="col-md-6 block align-left"> 
                    <div class="footer-logo">COPPERAGENT</div>
                    <div class="connect-with-us">CONNECT WITH US</div> 
                	<!-- SOCIAL ICONS --> 
                	<ul class="social-icons"> 
                		 
                		<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li> 
                	</ul> 
                    <p class="copyright"> 
                		&copy; ConsumerAgent, Inc. All Rights Resverved 
                	</p>
                </div> 
                 
                <div class="col-md-6 block align-left"> 
                    <ul class="footer-nav"> 
            			<li><a href="#">Find an Agent</a></li> 
            			<li><a href="/how-it-works">How It Works</a></li> 
            			<li><a href="/faq">FAQ</a></li> 
            			 
                    </ul> 
                    <ul class="footer-nav"> 
            			<li><a href="/terms-of-use">Terms of Use</a></li> 
            			<li><a href="/privacy-policy">Privacy Policy</a></li> 
                    </ul>
                </div> 
                 
            </div> 
             
         
        </div> 
        <!-- /END CONTAINER --> 
     
    </footer>
    <!-- /END FOOTER -->

<!-- =========================
     SCRIPTS
============================== -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>

<script>
    $(function(){
        <% if(typeof message != 'undefined' && message) { %>
            showMessage('Alert');
        <% } %>
    })
</script>
 
</body> 
</html>