
    
    <!-- =========================
         FOOTER
    ============================== -->
    <footer>
        <div class="container blue-bg white-text">
            <div class="row">
            	<!-- LOGO -->
                <div class="footer-logo align-left"><b>AGENT</b>APP</div>
            </div>
            <div class="row">
                <div class="col-md-4 block align-left">
                    <div>Connect with AgentApp</div>
                	<!-- SOCIAL ICONS -->
                	<ul class="social-icons">
                		<li><a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                		<li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                	</ul>
                </div>
                
                <div class="col-md-4 block align-left">
                    <ul class="footer-nav">
            			<li><a href="#">Find an Agent</a></li>
            			<li><a href="/how-it-works">How It Works</a></li>
            			<li><a href="/faq">FAQ</a></li>
            			<li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 block align-left">
                    <ul class="footer-nav">
            			<li><a href="/terms-of-use">Terms of Use</a></li>
            			<li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
            	<!-- COPYRIGHT TEXT -->
            	<p class="copyright">
            		&copy;2014 AgentApp, Inc. All Rights Reserved.
            	</p>
                
            </div>
        
        </div>
        <!-- /END CONTAINER -->
    
    </footer>
    <!-- /END FOOTER -->

<!-- =========================
     SCRIPTS
============================== -->
<script src="/js/bootstrap.min.js"></script>
 
</body> 
</html>