<!doctype html> 
<html> 
<head> 
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE TITLE -->
    <title>AgentApp</title>
    
    <!-- =========================
         STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- FONT AWESOME -->
    <link href="/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    
    <!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

    <!-- WEB FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesHome.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="/css/responsive.css">
    
    <!-- JQUERY -->
    <script src="/js/jquery-1.11.1.min.js"></script>
</head> 
<body>
