

/* HEADINGS */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 55px;
}

h2 {
    font-size: 35px;
    line-height: 50px;
}

h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
}

h4 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 20px;
    font-weight: 300;
}