
/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #313131;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}

/*---------------------------------------
   Typography                
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'AvantGardeBold';
    src: url('../fonts/AvantGarde-Book-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde';
    src: url('../fonts/AvantGarde-Book.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeMedium';
    src: url('../fonts/AvantGarde-Book-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   TEXTS               
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.grey-text {
    color: grey;
}

.dark-text {
    color: #272727;
}

.grey-bg {
    background: #EBEBEB !important;
}

.blue-bg{
    background: #3498DB !important;
}

.align-left{
    text-align: left;
}

.align-rigth{
    text-align: right;
}

.align-center{
    text-align: center;
}

.align-justify{
    text-align: justify;
}

.page-title{
    padding: 35px 25px 25px;
    background-color: #3498DB;
    color: #ffffff;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.page-body{
    margin-top: 55px;
    padding-left: 35px;
}

form span.error {
    color: red;
    display: none;
}

form input.error {
    border: 1px solid red !important;
}

form label{
    font-weight: normal;
}

.signup-title, .title{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
}

.error{
    color: red;
}

/*---------------------------------------
   SECTIONS          
-----------------------------------------*/

.section-header {
    padding-bottom: 48px;
}

.section-title {
    text-align: center;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* TOP BAR WITH NAVIGATION */

.sticky-navigation {
    min-height: 145px;
    background-color: rgba(255,255,255,.9);
    border: none;
    padding: 50px 0 0 !important;
    margin-bottom: 0 !important;
    position: relative;
}

.sticky-navigation .main-navigation .current a {
  color: #000000 !important;
  position: relative;
  outline: none;
}

.sticky-navigation .main-navigation li{
  padding: 0px 25px;
}

.sticky-navigation .main-navigation li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  color:#000000;
  display: inline-block;
}

.navbar-inverse .navbar-brand {
    font-size: 32px;
	color: #3498db;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:hover{
    color: #000000;
    background: none;
}

.navbar-inverse .navbar-brand:hover {
	color: #3498db;
}

.navbar-toggle:hover{
    background-color: #333;
}


/*---------------------------------------
   CUSTOM BUTTON              
-----------------------------------------*/

.standard-nocolor-button{
    font-size: 16px;
    text-shadow: 0 !important;
    min-width: 150px;
    padding: 14px 58px;
    margin: 5px;
}

.standard-button{
    font-size: 16px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 14px 58px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
    background-color: #3498DB;
}

.image-cover{
    width: 100%;
    background-size: cover;
}

/* INTRO */
.intro-section{
    position: relative;
    width: 100%;
}

.intro-section .intro {
    color: #353434;
    padding: 20px 30px;
    font-size: 42px;
    line-height: 55px;
    background-color: #EDEEEE;
    opacity: 0.7;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
    text-align: justify;
}

.intro-section .buttons {
    margin-top: 35px;
}

.started-btn{
    position: absolute;
    left: 50%;
    border: 1px solid white;
    bottom: 65px;
    margin-left: -130px;
    padding: 19px 83px;
    background: transparent;
}

.sign-up-agent-button{
}

.find-an-agent-button{
    padding: 8px 9px !important;
    color: white !important;
}

.find-an-agent-button:hover{
    color: #000000 !important;
}

.signin-linked-button{
    padding: 6px 15px;
    background-color: #106699;
}
.signin-linked-button i{
    margin-right: 15px;
}

.standard-button:hover{
    border: none;
    background-color: #ebebeb;
}
/*---------------------------------------
   SECTION:  FEATURES                 
-----------------------------------------*/

.features {
    background: #ffffff;
}

.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-left .icon-container {
    float: right;
    margin-left: 20px;
}

.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}

.features .feature {
    padding-bottom: 60px;
    padding-top: 40px;
}

.features .feature .icon-container {
    display: block;
    min-height: 120px;
    margin-top: 5px;
}

.features .feature .icon-container .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
            transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
            background-clip: padding-box;
}

.subpage{
    text-align: justify;
    min-height: 500px;
}

#how-it-work-buyer-seller .block{
    padding: 0 30px;
}

.block .icon-number{
    width: 53px;
    height: 53px;
    background-color: #F3F3F3;
    text-align: center;
    line-height: 54px;
    border-radius: 30px;
    font-size: 30px;
}

.block .icon-block{
    font-size: 100px;
    margin-bottom: 30px;
    color: grey;
}

#example-agent-seeker .block,
#example-agent-dash .block{
    padding: 0 30px;
}

#example-agent-seeker .main-contain,
#example-agent-dash .main-contain{
    padding: 0 25px;
}

#how-it-work-agent .item{
    font-size: 20px;
	text-align: left;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	line-height: 43px;
}

#how-it-work-agent .checkbox-icon{
	background: url('../images/checkbox-icon.png') no-repeat left center;
	width: 42px;
	float: left;
	background-size: contain;
	height: 42px;
	margin-right: 50px;
}

.app-brief {
    padding-bottom: 20px;
}

/*---------------------------------------
   SECTION:  BLOG                
-----------------------------------------*/

#blogs-search{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    background-color: #EBEBEB;
    border-radius: 6px;
    padding: 20px;
}

#blogs-search .search-heading{
    padding-bottom: 35px;
    border-bottom: 1px solid #B1B1B1;
    color: grey;
    font-style: italic;
}

#blogs-search .search-heading .input-group{
	width: 100%;
}

#blogs-search .search-heading #search-txt{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 4px;
    padding-right: 50px;
}

#blogs-search .search-heading .input-group-addon{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 22px;
    color: #B8B8B8;
    padding: 16px 32px 16px 14px;
    background-color: transparent;
    border: none;
}

#blogs-search .search-body .category{
    margin-top: 30px;
}

#blogs-search .search-body .category > div{
    margin: 10px 0;
}

#blogs-search .search-body .category a{
    color: #000000;
}

#blogs-search .search-body .category a:hover,
#blogs-search .search-body .category > .active{
    font-weight: 400;
}

#blogs .blog-title{
    font-size: 35px;
    line-height: 35px;
}

#blogs .item{
    padding-bottom: 30px;
    border-bottom: 1px solid #B2B2B2;
}

#blogs .item:last-child{
    border-bottom: none;
}

.blog-share-icon a{
    font-size: 24px;
    color: white;
}

.blog-share-icon .tweet-icon{
    background-color: #39A7D6;
    padding: 2px 6px;
}

.blog-share-icon .facebook-icon{
    background-color: #315795;
    padding: 2px 11px;
}

.blog-share-icon .envelope-icon{
    background-color: #748A8D;
    padding: 2px 5px;
}

.blog-share-icon .print-icon{
    background-color: #748A8D;
    padding: 2px 6px;
}

.blog-share-icon .plus-icon{
    background-color: #F36B46;
    padding: 2px 5px;
}

.blog-share-icon a:hover {
    background-color: #666666;
}

/*---------------------------------------
   SECTION:  CONTACT PAGE                
-----------------------------------------*/

#contact_form input,
#contact_form textarea,
#signup_1_form input,
#signup_agent_verify_form input,
#dash_qs_form input,
#dash_qs_form textarea {
    border: none;
    box-shadow: none;
    background-color: #EBEBEB;
}

#contact_form input{
    width: 40%;
}

#login-form{
    float: none;
    margin: 0 auto;
}

#login-form .login-button{
    color: white;
    background-color: #3498DB;
}

#login-form .login-button:hover {
    color: #000000;
    background-color: #ebebeb;
}
/*--------------------------------------
    PAGE: SIGNUP
---------------------------------------*/
.step {
	background-color: #E4E4E4;
	color: #D3D3D3;
	line-height: 35px;
	font-weight: bold;
	margin-right: 3px;
    text-align: center;
	font-size: 18px;
}

.step.active, .step.current{
	background-color: #95C800;
	color: #95C800;
}

.step > div{
    width: 35px;
    height: 35px;
    margin: 7px auto 8px;
    border-radius: 30px;
}

.step.current > div{
	background-color: #ffffff;
	font-size: 20px;
}

.step.active > div{
	color: #E0EEAF;
}
/*---------------------------------------
   SECTION:  DASH-MATCHES                
-----------------------------------------*/
.dash-matches-heading {
    background-color: #3498DB;
    border-radius: 4px;
    padding: 20px 40px 10px 40px;
    overflow: hidden;
    color: white;
    margin: 0 0 10px;
}

.dash-matches-heading .dash-proccess{
    height: 45px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.dash-matches-heading .dash-proccess > div{
    width: 20%;
    background-color: #1E7BC7;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    line-height: 45px;
    font-size: 14px;
}

.dash-matches-heading .continue-button{
    border: 2px solid white;
    margin: 7px 0;
    float: right;
}

.dash-matches-body .panel-left{
    min-height: 600px;
    background-color: #EBEBEB;
    border-radius: 4px;
    padding-top: 30px;
}

.dash-matches-body .panel-left ul{
    margin-left: 30px;
    margin-right: -15px;
}

.dash-matches-body .panel-left li{
    margin-bottom: 10px;
}

.dash-matches-body .panel-left li a{
    color: #000000;
    width: 100%;
    padding-left: 20px;
    line-height: 58px;
    display: block;
}

.dash-matches-body .panel-left li.active{
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.dash-matches-body .dash-option{
    background-color: #EBEBEB;
    border: none;
    padding: 5px;
    border-radius: 4px;
    width: 80%;
}

.dash-matches-body #search-matches-form input{
    width: 100%;
    font-style: italic;
    padding: 3px 35px 3px 3px;
}

.dash-matches-body #search-matches-form i{
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #878787;
    padding: 7px 10px;
}

.dash-matches-body .matches-item{
    margin: 20px 0 30px 0;
}

.dash-matches-body .matches-item .description{
    color: #6B6B6B;
    font-weight: 400;
}

.dash-matches-body .matches-item .rate{
    color: #AFB1AD;
}

.dash-matches-body .matches-item .avatar{
    width: 75px;
    height: 75px;
    font-size: 55px;
    background-color: #F2F4F6;
    color: #CCCCCC;
    border-radius: 40px;
    text-align: center;
    line-height: 70px;
}

.dash-matches-body .matches-item .share-connection{
    width: 25px;
    height: 25px;
    font-size: 18px;
    background-color: #F2F4F6;
    color: #CCCCCC;
    border-radius: 40px;
    text-align: center;
    line-height: 22px;
    display: inline-block;
    margin-right: 10px;
}

.dash-matches-body .matches-item .progess{
    width: 100%;
    height: 50px;
    border: 1px solid #40C353;
    border-radius: 5px;
    color: white;
    font-size: 40px;
    line-height: 45px;
}

.dash-matches-body .matches-item .progess > div{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #40C353;
    height: 100%;
}

.dash-matches-body .matches-item .btn{
    width: 100%;
    height: 50px;
    background-color: #D1D1D1;
    color: white;
    line-height: 35px;
    text-align: center;
}

.dash-matches-body .matches-item .btn.tapped{
    background-color: #E89C30;
}

.dash-matches-body .matches-item .btn.received{
    background-color: #C53E3E;
}

.dash-matches-body .matches-item .btn.proposal{
    background-color: #C53E3E;
    white-space: normal;
    line-height: 16px;
}


/*---------------------------------------
   SECTION:  MODAL - view-proposal                
-----------------------------------------*/

#view-proposal .modal-body > .row{
    padding-left: 30px;
    padding-right: 35px;
}

#view-proposal .modal-heading{
    font-weight: bold;
}

#view-proposal .modal-avatar{
    margin: 25px 0 35px 0;
    font-style: italic;
}

#view-proposal .modal-avatar img,
#view-proposal .modal-avatar div{
    display: inline-block;
}

#view-proposal .view-proposal-button{
    margin-bottom: 60px;
}

#view-proposal .footer-buttons .btn{
    min-width: 100%;
    padding: 12px 0;
}

#view-proposal .footer-buttons .pass-button{
    background-color: #71C8C9;
}

#view-proposal .footer-buttons .chat-button{
    background-color: #A83333;
}

#view-proposal .footer-buttons .select-button{
    background-color: #69DB35;
}

#view-proposal .footer-buttons .btn:hover{
    border: none;
    background-color: #ebebeb;
}

/*---------------------------------------
   SECTION:  DASH_AGENT                
-----------------------------------------*/
#dash-agent .progress-match{
    font-size: 13px;
}

#dash-agent .lbl {
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
}

#dash-agent .accepted {
    background-color: #69DB35;
}

#dash-agent .submitted {
    background-color: #C53E3E;
}

#dash-agent .ping {
    background-color: #3498DB;
}

#dash-agent .pinged {
    background-color: #E89C30;
}

#dash-agent .tapped {
    background-color: #1E5B22;
}

#dash-agent .send-proposal-button {
    white-space: normal;
    line-height: 16px;
}

#dash_profile_form .hidden-input{
    visibility: hidden;
}


.loading_content{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    display: none;
    z-index: 9999;
}


.loading_content img{
    position: absolute;
    top: 50%;
    margin-top: -40px;
}
/*---------------------------------------
   SECTION:  FOOTER                
-----------------------------------------*/
footer {
    font-size: 18px;
}
.footer-logo { 
    padding: 35px 35px 30px 35px;
    width: 100%;
    color: white;
    font-size: 24px;
}

footer .block{
    padding-left: 35px;
    padding-right: 35px;
}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li:first-child {
    margin-left: 0;
}

footer .footer-nav li {
    margin-bottom: 10px;
}

footer .social-icons li a {
    font-size: 34px;
    color: white;
}

footer .social-icons li a:hover {
    color: #2a6496;
}

footer .footer-nav li a {
    color: white;
}

footer .copyright {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
}