<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief">
    <div class="container subpage">
        <div class="row">
            <div class="dash-matches-heading">
                <div class="col-lg-8">
                    <div class="dash-proccess">
                        <div class="align-center">20%</div>
                    </div>
                    <div>Your file is only 20% complete. Mores details means better matches!</div>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="btn default-btn standard-button continue-button">CONTINUE</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="dash-matches-body">
                <div class="col-lg-3 panel-left">
                    <% var userType = user.get('userType'); %>
                    <h5 class="align-center"><%= (userType == 1) ? 'BUYER' : ((userType == 2) ? 'SELLER' : 'AGENT') %></h5>
                    <h4 class="align-center"><b>Dashboard</b></h4>
                    <br />
                    <ul class="" role="tablist">
                        <li class="active">
                            <a href="#matches" role="tab" data-toggle="tab"><%= (userType == 1) ? 'Agent Search' : 'Matches' %></a>
                        </li>
                        
                        <% if(userType == 1 || userType == 2){ %>
                            <li>
                                <a href="#add-new-search" role="tab" data-toggle="tab">+ Add New Search</a>
                            </li>
                        <% } %>
                        
                        <li>
                            <a href="#profile-question" role="tab" data-toggle="tab">Profile Questions</a>
                        </li>
                        <li>
                            <a href="#edit-profile" role="tab" data-toggle="tab">Edit Profile</a>
                        </li>
                        <li>
                            <a href="#email-setting" role="tab" data-toggle="tab">Email Settings</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-lg-9 panel-right tab-content">
                    <div class="tab-pane fade in active" id="matches">
                        <% if(userType == 1){ %>
                            <% include /_matchesBuyer %>
                        <% } else if(userType == 2){ %>
                            <% include /_matchesSeller %>
                        <% } else { %>
                            <% include /_matchesAgent %>
                        <% } %>
                    </div>
                    
                    <% if(userType == 1 || userType == 2){ %>
                    <div class="tab-pane fade in active" id="add-new-search">
                        add new search
                    </div>
                    <% } %>
                    
                    <div class="tab-pane fade" id="profile-question">
                        <% if(userType == 1){ %>
                            <% include /_profileQuestionsBuyer %>
                        <% } else if(userType == 2){ %>
                            <% include /_profileQuestionsSeller %>
                        <% } else { %>
                            <% include /_profileQuestionsAgent %>
                        <% } %>
                    </div>
                    <div class="tab-pane fade" id="edit-profile">
                        <% include /_editProfile %>
                    </div>
                    <div class="tab-pane fade" id="email-setting">
                        email-setting
                    </div>
                </div>
            </div>
        </div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>