<!-- Include the header partial -->
<% include ../_header %>

    <!-- =========================
         HEADER
    ============================== -->
    <section class="features" id="header-homepage">
        <div class="container">
            <div class='row'>
                <div class="intro-section">
                    <img class="image-cover" src="images/screenshot.png"/>
                    <h5 class="intro">
                        Matching Buyer and Seller with Real Estate Agent who Meet their Specific Needs
                    </h5>
                    <a href="#" class="btn btn-default standard-button started-btn">Get Started</a>
                </div>
            </div>
        	<!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    
    <!-- =========================
         HOW IT WORKS FOR BUYERS AND SELLERS
    ============================== -->
    <section class="features" id="how-it-work-buyer-seller">
        <div class="container feature">
        	<!-- SECTION HEADER -->
        	<div class="section-header" data-wow-offset="120" data-wow-duration="1.5s">
        		<!-- SECTION TITLE -->
        		<h3>How it Works for Buyers and Sellers</h3>
        	</div>
        	<!-- /END SECTION HEADER -->
    
            <div class='row'>
                <div class="col-lg-4">
                    <div class="block">
                        <div class="icon-number">1</div>
                        <div class="icon-block">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="howitwork-text">
                            Tel us about yourself and your real estate goals.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block">
                        <div class="icon-number">2</div>
                        <div class="icon-block">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="howitwork-text">
                            Tel us about yourself and your real estate goals.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block">
                        <div class="icon-number">3</div>
                        <div class="icon-block">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="howitwork-text">
                            Tel us about yourself and your real estate goals.
                        </div>
                    </div>
                </div>
            </div>
        	<!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    
    <!-- =========================
         EXAMPLE AGENT SEEKER
    ============================== -->
    <section class="features" id="example-agent-seeker">
        <div class="container feature grey-bg">
        	<!-- SECTION HEADER -->
        	<div class="section-header">
        		<!-- SECTION TITLE -->
        		<h3>Example Agent Seeker</h3>
        	</div>
        	<!-- /END SECTION HEADER -->
            
        	<div class="row main-contain">
                <div class="col-md-6">
                    <div class="block block-1">
                        <img class="image-cover" src="images/screenshot.png"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block block-2 align-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
        	</div>
        	<!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    
    <!-- =========================
         HOW IT WORKS FOR AGENTS
    ============================== -->
    <section class="features" id="how-it-work-agent">
        <div class="container feature">
        	<!-- SECTION HEADER -->
        	<div class="section-header">
        		<!-- SECTION TITLE -->
        		<h3>How it Works for Agents</h3>
        	</div>
        	<!-- /END SECTION HEADER -->
        	<div class="row">
				<div class="item">
					<div class="checkbox-icon"></div>One-click sign up with Zillow
				</div>
				<div class="item">
					<div class="checkbox-icon"></div>Quickly build a profile for perspective clients to view
				</div>
				<div class="item">
					<div class="checkbox-icon"></div>Immediatley connect with win-win client opportunities
				</div>
				<div class="item">
					<div class="checkbox-icon"></div>Receive notifications of future client matches
				</div>
                <a href="#" class="btn btn-default standard-button sign-up-agent-button">Agent Sign Up</a>
        	</div>
        	<!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
    
    
    <!-- =========================
         EXAMPLE AGENT DASH
    ============================== -->
    <section class="features" id="example-agent-dash">
        <div class="container feature grey-bg">
        	<!-- SECTION HEADER -->
        	<div class="section-header">
        		<!-- SECTION TITLE -->
        		<h3>Example Agent Dash</h3>
        	</div>
        	<!-- /END SECTION HEADER -->
            
        	<div class="row main-contain">
                <div class="col-md-6">
                    <div class="block block-1">
                        <img class="image-cover" src="images/screenshot.png"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block block-2 align-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
        	</div>
        	<!-- /END ROW -->
        </div>
        <!-- /END CONTAINER -->
    </section>
	
<!-- Include the footer partial -->
<% include ../_footer %>