<!-- Include the header partial -->
	
<% include ../_header %>

<section class="app-brief">
    <div class="container subpage">
    	<div class="section-title">
    		<h3>
                <% if(page){ %>
                <%- page.get('title') %>
                <% } %>
            </h3>
    	</div>
    	<div class="row">
            <div class='col-md-12 align-justify'>
                <% if(page){ %>
                <%- page.get('body') %>
                <% } %>
            </div>
    	</div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
	
<% include ../_footer %>
