<!-- Include the header partial -->
	
<% include ../_header %>

<section class="app-brief">
    <div class="container subpage">
    	<div class="row">
            <div class="page-title">
                <% if(page){ %>
                <%- page.get('title') %>
                <% } %>
            </div>
            <div class='col-md-12 page-body'>
                <% if(page){ %>
                <%- page.get('body') %>
                <% } %>
            </div>
    	</div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
	
<% include ../_footer %>
