<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief">
    <div class="container subpage">
        <div class="row">
            <h3>Dash Matches</h3>
        </div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>