<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief">
    <div class="container subpage">
        <div class="col-sm-10 col-md-6 col-lg-4" id="login-form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="POST" role="form">
                        <h3>Sign In</h3>
                        <div class="error">
                            <%= (typeof error !== 'undefined') ? error : '' %>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" id="email" class="form-control" required/>
                            <span class="error"></span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" id="password" class="form-control" required />
                            <span class="error"></span>
                        </div>
                        
                        <input type="hidden" name="redirectUrl" value="<%= (typeof redirectUrl !== 'undefined') ? redirectUrl : '' %>"/>
                        
                        <input type="submit" onclick="submitLogin()" class="btn btn-block login-button" value="SUBMIT"/>
                        <hr />
                        <a href="/signup-1" class="btn btn-block">Sign Up</a>
                    </form>
                </div>
            </div>
        </div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>