<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief">
    <div class="container subpage">
        <div class="col-xs-4" id="login-form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="POST" role="form">
                        <h3>Reset Password</h3>
                        <% if(typeof message !== 'undefined'){ %>
                            <div class="error">
                                <%= message %>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <a href="/org/login">Back to login</a>
                        </div>
                        
                        <input type="submit" class="btn standard-btn btn-block" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>