<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief" id="signup">
    <div class="container subpage">
        <div class='row'>
            <div class="page-title">
                Create your account
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3 step current"><div>1</div></div>
                    <div class="col-lg-3 step"><div>2</div></div>
                    <div class="col-lg-3 step"><div>3</div></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <h3 class="signup-title">Quickly sign up to your matches</h3>
                    <h4>Connect with Zillow</h4>
                    <a href="/signup-agent-verify" class="btn btn-default standard-button">CONNECT WITH ZILLOW</a>
                </div>
            </div>
        </div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>