<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief" id="signup">
    <div class="container subpage">
        <div class='row'>
            <div class="page-title">
                Find Clients
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3 step active"><div>1</div></div>
                    <div class="col-lg-3 step active"><div>2</div></div>
                    <div class="col-lg-3 step current"><div>3</div></div>
                </div>
                <div class="row">
                    <h3>Just a little more information to help you find the perfect agent:</h3>
                    <br />
                    <div class="col-lg-12">
                        <form rel="form" method="POST" id="signup_2_form">
                            <div class="form-group">
                                <label>What kind of clients are you most interested in working with?</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="kind_of_client" value="2" checked=""> Sellers
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="kind_of_client" value="1"> Buyers
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="kind_of_client" value="3"> Both
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>What buyer/ seller timeframes do you prefer?</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="timeframe" value="1" checked="">
                                        ready to make offers
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="timeframe" value="2">
                                        3-6 months
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="timeframe" value="3">
                                        6-12 months
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="timeframe" value="4">
                                        over 12 months
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>In what buyer/seller price ranges are you most interested?</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="price_range" value="1" checked="">
                                        less than $500,000
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="price_range" value="2">
                                        $500,000 to $750,000
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="price_range" value="3">
                                        $750,000 to $1,000,000
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="price_range" value="4">
                                        $1,000,000 to $5,000,000
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="price_range" value="5">
                                        over $5,000,000
                                    </label>
                                </div>
                            </div>
                            <div class="form-group align-center">
                                <a class="btn standard-nocolor-button" onclick="clearForm('#signup_1_form')">Clear form</a>
                                <button type="submit" class="btn btn-default standard-button">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>