<!-- Include the header partial -->
<% include ../_header %>

<section class="app-brief" id="signup">
    <div class="container subpage">
        <div class='row'>
            <div class="page-title">
                Find an Agent
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3 step active"><div>1</div></div>
                    <div class="col-lg-3 step current"><div>2</div></div>
                    <div class="col-lg-3 step"><div>3</div></div>
                </div>
                <div class="row">
                    <h3>Just a little more information to help you find the perfect agent:</h3>
                </div>
                <div class="col-lg-12">
                    <form rel="form" method="POST" id="signup_2_form">
                        <div class="form-group">
                            <label>Are you a buyer or a seller?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="user_type" value="1" checked=""> Buyer
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="user_type" value="2"> Seller
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>How quickly would you like to sell your property?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sell_time" value="1" checked="">
                                    ASAP
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sell_time" value="2">
                                    1 year or less
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sell_time" value="3">
                                    1 - 2 year
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sell_time" value="4">
                                    2 - 5 year
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>What is your asking price?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="price_range" value="1" checked="">
                                    $100,000 or less
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="price_range" value="2">
                                    $100,000 - $250,000
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="price_range" value="3">
                                    $250,000 - $500,000
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="price_range" value="4">
                                    $500,000 - $1,000,000
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="price_range" value="5">
                                    $1,000,000 - $5,000,000
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="price_range" value="6">
                                    over $5,000,000
                                </label>
                            </div>
                        </div>
                        <div class="form-group align-center">
                            <a class="btn standard-nocolor-button" onclick="clearForm('#signup_1_form')">Clear form</a>
                            <button type="submit" class="btn btn-default standard-button">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    	<!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
</section>

<!-- Include the footer partial -->
<% include ../_footer %>